@mixin input {
    padding: 5px 10px;
    font: {
        family: 'Roboto Mono', monospace;
        size: 20px;
        weight: 300;
    }
    border: none;
    border-radius: 5px;
    display: block;

    @media screen and (max-width: 1000px) {
        font-size: 15px;
    }
}

@mixin button {
    padding: 5px 10px;
    font: {
        family: 'Roboto Mono', monospace;
        size: 20px;
        weight: 300;
    }
    border: none;
    border-radius: 5px;
    display: block;
    
    @media screen and (max-width: 1000px) {
        font-size: 15px;
    }
}