@mixin input {
    padding: 5px 10px;
    font: {
        family: 'Roboto Mono', monospace;
        size: 20px;
        weight: 300;
    }
    border: none;
    border-radius: 5px;
    display: block;

    @media screen and (max-width: 1000px) {
        font-size: 12px;
    }
}

@mixin button {
    padding: 5px 10px;
    font: {
        family: 'Roboto Mono', monospace;
        size: 20px;
        weight: 300;
    }
    border: none;
    border-radius: 5px;
    display: block;
    
    @media screen and (max-width: 1000px) {
        font-size: 12px;
    }
}

@mixin title {
    font: {
        size: 60px;
        weight: 900;
    }

    @media screen and (max-width: 1000px) {
        font: {
            size: 25px;
        }
    }
}