.menu {
    width: 35%;
    margin: 0 auto;

    .usernameInput {
        @include input;
        width: 100%;
        margin-top: 10%;
    }

    .joinroom {
        margin: 0px auto;
        margin-top: 20%;
        clear: both;

        &__input {
            @include input;
            float: left;
            width: 60%;
        }

        &__button {
            width: 20%;
            @include button;
            float: right;
            margin-left: 10px;
        }
    }

    .createroom {
        margin-top: 5%;

        &__button {
            @include button;
        }
    }
}