.menu {
    width: 35%;
    margin: 0 auto;

    @media screen and (max-width: 1000px) {
        width: 80%;
    }

    .usernameInput {
        @include input;
        width: 100%;
        margin-top: 10%;
    }

    .joinroom {
        margin: 0px auto;
        margin-top: 20%;
        clear: both;


        &__input {
            @include input;
            width: 60%;
            float: left;
            border-radius: 5px 0px 0px 5px;
            padding-right: 0;
        }

        &__button {
            width: 30%;
            float: left;
            @include button;
            border-radius: 0px 5px 5px 0px;
            padding-left: 0;
        }
    }

    .createroom {
        margin-top: 5%;

        &__button {
            @include button;
        }
    }
}